{% extends "base.html" %}
{% block content %}
  <div class="container">
    <h2>mx Video Player</h2>
    <div class="form-group">
      <form method="POST" action="/">
        <label for="video-url">Paste Video URL:</label>
        <input type="text" id="video-url" placeholder="Enter video URL" name="link">
        <input type="submit" value="Submit" id="play-btn">
      </form>
    </div>
    <ul>
      <li>Open <a href="https://www.mxplayer.in">Mx player on web</a> in browser.</li>
      <li>search your desired content and open its player page.</li>
      <li>copy the url of page and paste in the box.</li>
    </ul>
  </div>
{% endblock %}